# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Default reviewers for any change in the repo. Listed owners are auto-requested
# on PRs that touch matching paths.

* @codemonkeychris
